<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Qibla Connector</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>Allow FindQibla to access your calendar</string>
	<key>NSCameraUsageDescription</key>
	<string>Allow FindQibla to use the camera</string>
	<key>NSContactsUsageDescription</key>
	<string>Allow FindQibla experiences to access your contacts</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Allow Qibla Connector to mark your current location on map</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Allow Qibla Connector to mark your current location on map</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Allow Qibla Connector to mark your current location on map</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Allow FindQibla to access your microphone</string>
	<key>NSMotionUsageDescription</key>
	<string>Allow Qibla Connector to access your device's accelerometer to point towads Qibla</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Give FindQibla periences permission to save photos</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Give FindQibla periences permission to access your photos</string>
	<key>NSRemindersUsageDescription</key>
	<string>Allow FindQibla to access your reminders</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
